{% block clasters_type_widget %}
    {% spaceless %}

        <div>
            <select multiple="multiple" name="{{ form.vars.full_name }}" class="chosen-select rb-main claster">

                {% for group_label, choice in form.vars.choices %}
                    {% if choice is iterable %}
                        <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                            {% set options = choice %}
                            {{ block('choice_widget_options') }}
                        </optgroup>
                    {% else %}
                        <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
                    {% endif %}
                {% endfor %}


                {#{% for item in form.vars.choices %}#}
                    {#<option {% if item is selectedchoice(value)  %}  selected="selected" {% endif %}  value="{{ item.value }}">{{ item.label }}</option>#}
                {#{% endfor %}#}


                {#{% for item in form.vars.data %}#}
                            {#{% for choices in form.vars.choices %}#}
                                {#<option {% if (choices.value == item.id) %} selected="selected" {% endif %} value="{{ choices.value }}">{{ choices.label }}</option>#}
                            {#{% endfor %}#}
                {#{% else %}#}
                            {#{% for choices in form.vars.choices %}#}
                                {#<option value="{{ choices.value }}">{{ choices.label }}</option>#}
                            {#{% endfor %}#}
                {#{% endfor %}#}
            </select>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
        <div class="add-claster-wrapper">
            <a href="#" class="add-claster" id="add-claster"><i></i>добавить новый кластер</a>
            <div class="add-claster-form">
                <input type="text" class="claster-name"/>
                <button class="add-claster-bt">Добавить</button>
            </div>
        </div>

    {% endspaceless %}
{% endblock %}